
* {
    box-sizing: border-box;
    border: .05px solid red;
    /* gap: 5px; */

}

.main-container {
    margin: 25px;
    display: grid;
    height: 600px;
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-template-areas:
        "side-button-container central-container central-container central-container"
        "side-button-container central-container central-container central-container"
        "side-button-container central-container central-container central-container"
        "side-button-container central-container central-container central-container"
        "lower-button-container lower-button-container lower-button-container lower-button-container";
}

.side-button-container {
    grid-area: side-button-container;
    /* width: 250px; */
}

.lower-button-container {
    grid-area: lower-button-container;
    /* width: 1000px; */
}

.central-container {
    /* width: 750px; */
    grid-area: central-container;

}

.labs-container {
    justify-content: flex-start;
}


input {
    margin: 0.4rem;
}

.start {
    visibility: visible;
}

.potassium-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}