
* {
    box-sizing: border-box;
    /* border: .05px solid red; */
    /* gap: 5px; */
    font-family: Arial, Helvetica, sans-serif
}

body {
    border: 10px solid blue;
    margin: 0px;
    min-height: 100vh;
}

.outermost-container {
    height: 100px;
}

.title {
    margin-left: 20px;
    color: navy;
}

.main-container {
    margin: 25px;
    display: grid;
    min-height: 90vh;
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-template-areas:
        "side-button-container central-container central-container central-container central-container central-container central-container central-container"
        "side-button-container central-container central-container central-container central-container central-container central-container central-container"
        "side-button-container central-container central-container central-container central-container central-container central-container central-container"
        "side-button-container central-container central-container central-container central-container central-container central-container central-container"
        "side-button-container central-container central-container central-container central-container central-container central-container central-container"
        "lower-button-container lower-button-container lower-button-container lower-button-container lower-button-container lower-button-container lower-button-container lower-button-container";
}

.side-button-container {
    grid-area: side-button-container;
    border: .05px solid green;
    background-color: rgb(189, 200, 217);
    padding: 15px;
}

.lower-button-container {
    grid-area: lower-button-container;
    display: flex;
    border: .05px solid rgb(39, 26, 159);
    background-color: rgb(131, 124, 136);
    column-gap: 20px;
}

.central-container {
    grid-area: central-container;
    display: flex;
    flex-direction: column;
    background-color: rgb(226, 231, 226);
}
    

.data-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    border: .05px solid rgb(62, 15, 162);
}

.virtual-patient-container {
    display: grid;
    flex-grow: 2;
    box-sizing: border-box;
    height: auto;
    border: .05px solid green;
    background-color: rgb(194, 194, 194);
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-template-areas:
        "crrt-patient-container"
}

.crrt-patient-container {
    grid-area: crrt-patient-container;
    height: 100%;
    align-items: center;
}

.iframe-container {
    display: flex;
}

#iframe {
    width: 100%;
    display: flex;
    padding: 10px 0px 10px 0px;
    margin-left: auto;
    margin-right: auto
}

#replacement-fluid-rate-radio {
    margin: 10px;
    display: flex;
    flex-flow: column wrap;
    border-color: black;
}


.update-order-button {
    visibility: hidden;
    cursor: pointer;
    height: 30px;
    margin: 4px;
    background-color: rgb(171, 171, 198);
    color: rgb(33, 32, 32);
    text-align: center;
    display: inline-block;
    font-size: 15px;
    border-radius: 10px;
}

#replacement-fluid-type {
    margin: 10px;
    display: flex;
    flex-flow: row;
    border-color: black;
}

#blood-flow-rate-field {
    margin: 10px;
    display: flex;
    flex-flow: row;
    border-color: black;
}

#blow-flow-rate {
    padding: 10px;
}

#replacement-fluid-type-radio {
    margin: 10px;
    display: flex;
    flex-flow: column;
    border-color: black;
    max-width: fit-content;
}

#replacement-fluid-rate {
    padding: 10px;
}

#RFT-buttons-container {
    display: flex;
    flex-flow: column;
    max-width: fit-content;
}

#RFT-buttons-container > button {
    cursor: pointer;
    height: 30px;
    margin: 4px;
    background-color: rgb(171, 171, 198);
    color: rgb(33, 32, 32);
    text-align: center;
    display: inline-block;
    font-size: 15px;
    border-radius: 10px;
}

#RFT-buttons-container > button[disabled="true"] {
    background-color: lightblue;
    cursor: not-allowed;
} 

.disappearing-container-radio-buttons {
   visibility: hidden;
}


/* will add these back in later */

/* .patient-container {
    grid-area: patient-container
}

.hemodynamic-container {
    grid-area: hemodynamic-container
}

.vent-container {
    grid-area: vent-container
} */


input {
    margin: 0.4rem;
}

.start-button-container {
    display: flex;
    align-items: center;
}

.start {
    height: 75px;
    width: 120px;
    margin-left: 40px;
    background-color: rgb(26, 26, 143);
    color: white;
    text-align: center;
    display: inline-block;
    font-size: 18px;
    border-radius: 15px;
}

.start:hover {
    background-color: rgb(44, 44, 126);
    cursor: pointer;
}

.start[disabled="true"] {
    background-color: lightblue;
    cursor: not-allowed;
} 

.instructions-button-container {
    display: flex;
    align-items: center;
}

.open-instructions {
    height: 75px;
    width: 120px;
    margin-left: 10px;
    margin-right: 30px;
    background-color: rgb(91, 101, 94);
    color: white;
    text-align: center;
    display: inline-block;
    font-size: 18px;
    border-radius: 15px;
}

.open-instructions:hover {
    background-color: rgb(96, 136, 119);
    cursor: pointer;
}


.timer-container {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 10px;
    margin: 10px;
    border: .05px solid rgb(23, 25, 28);
}


.modal-start-page {
    display: block; 
    position: fixed; 
    z-index: 1; 
    padding-top: 100px; 
    left: 0;
    top: 0;
    width: 100%;
    height: 100%; 
    overflow: auto; 
    background-color: rgba(0,0,0,0.4); 
  }
  

  .modal-start-page-content {
    visibility: visible;
    background-color: rgba(236, 251, 231, 0.9); 
    margin: 10px;
    padding: 10px;
    border: 1px solid #888;
    width: 95%;
    height: 70%;
  }

  .button-begin-modal {
    cursor: pointer;
    height: 30px;
    margin: 4px;
    background-color: rgb(171, 171, 198);
    color: rgb(33, 32, 32);
    text-align: center;
    display: inline-block;
    font-size: 15px;
    border-radius: 10px;
  }
  
  .button-begin-modal:hover {
    background-color: rgb(240, 240, 250);
    cursor: pointer;
}

.modal-instructions {
    display: none; 
    position: fixed; 
    z-index: 1; 
    padding-top: 100px; 
    left: 0;
    top: 0;
    width: 100%;
    height: 100%; 
    overflow: auto; 
    background-color: rgba(0,0,0,0.4); 
  }
  

  .modal-instructions-content {
    visibility: visible;
    background-color: rgba(236, 251, 231, 0.9); 
    margin: 10px;
    padding: 10px;
    border: 1px solid #888;
    width: 95%;
    height: 70%;
  }

  .button-close-instructions-modal {
    cursor: pointer;
    height: 30px;
    margin: 4px;
    background-color: rgb(171, 171, 198);
    color: rgb(33, 32, 32);
    text-align: center;
    display: inline-block;
    font-size: 15px;
    border-radius: 10px;
  }
  
  .button-close-instructions-modal:hover {
    background-color: rgb(240, 240, 250);
    cursor: pointer;
}

  .modal-game-over {
    display: none;
    position: fixed; 
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgba(0,0,0,0.8);
  }
  
  .modal-game-over-content {
    visibility: visible;
    background-color: #dbe4f7;
    margin: 10px;
    padding: 20px;
    border: 1px solid #888;
    width: 95%;
  }

  .button-refresh-page {
    cursor: pointer;
    height: 30px;
    margin: 4px;
    background-color: rgb(171, 171, 198);
    color: rgb(33, 32, 32);
    text-align: center;
    display: inline-block;
    font-size: 15px;
    border-radius: 10px;
  }
  
  .button-refresh-page:hover {
    background-color: rgb(240, 240, 250);
    cursor: pointer;
}


.slider-ultrafiltration-rate-container {
    display: inline;
    padding: 10px;
}